@import "tailwindcss";
@font-face {
  font-family: Outfit;
  src: url(assets/fonts/Outfit-VariableFont_wght.ttf);
}

@theme {
  --color-primary-light: #FFEEDB;
  --color-primary: #FFDDB7;
  --color-primary-med: #5D3200;
  --color-primary-dark: #422300;

  --color-warning: #C34E4E;
  --color-warning-dark: #930000;
}

#root {
  font-family: "Outfit";
  background-color: var(--color-primary-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.6rem 1.6rem 4rem;
}